<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="SupportBank" packages="">
    <Appenders>
        <File name="FileAppender" fileName="logs/MetOfficeWeather.log">
            <PatternLayout>
                <Pattern>[%d] %p - %c{1} - %m%n</Pattern>
            </PatternLayout>
        </File>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p method: [%t] %C{2} (%F:%L) - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="FileAppender"/>
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>